.vscode/
#eigen/

RRAM_validation_data/
weights_inputs/
input_data/*
obj/*
bin/
data/*
.ipynb_checkpoints/*
*.exe
*.out
pybind11/*
build/*
*.so
oracle/*
tests/*
python/xbar_simulator.egg-info/*
*.so


python/column_divisors.pkl
python/__pycache__/crossbar.cpython-312.pyc
python/__pycache__/test.cpython-312.pyc
python/test_crossbar.py
include/eigen
python/data
include/eigen
include/eigen
include/eigen/
pybind11/
python/__pycache__/__init__.cpython-39.pyc
python/__pycache__/crossbar.cpython-39.pyc
__pycache__/__init__.cpython-39.pyc
python/__pycache__/simple_sim.cpython-39.pyc
python/__pycache__/__init__.cpython-312.pyc
python/__pycache__/simple_sim.cpython-312.pyc
python/__pycache__/simple_test.cpython-312.pyc
__pycache__/__init__.cpython-312.pyc
__pycache__
include/eigen-3.4.0.tar.gz
