.vscode/
#eigen/

RRAM_validation_data/
weights_inputs/
input_data/*
obj/*
bin/
data/*
.ipynb_checkpoints/*
*.exe
*.out
pybind11/*
build/*
*.so
oracle/*
tests/*
python/xbar_simulator.egg-info/*
*.so


python/column_divisors.pkl
python/__pycache__/crossbar.cpython-312.pyc
python/__pycache__/test.cpython-312.pyc
python/test_crossbar.py
include/eigen
